/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./assets/_siemens-theme" as theme;

@include mat.core();
@include mat.all-component-themes(theme.$my-app-theme);

body {
  background-color: whitesmoke;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
