.my-container {
  padding-top: 56px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-card {
  max-width: 800px;
  margin-top: 16px;
  margin-bottom: 16px;
}

